<!DOCTYPE html>
<html>

  <head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="Clash of Clans Clan Wars Screenshots" />
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
    <link href="http://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" type="text/css">

    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body>

    <div role="main">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

  </body>
</html>
